<h2 class="text-center head-title gstyle1">Programming Languages</h2>
<% if user_signed_in?%>
<button ><%= link_to "New Language", new_language_path, :class => 'btn button-index' %></button>
<%end%>
<hr>
<ul>
    <% @languages.each do |language| %>
      <li class="gstyle31 thumbnail"><%= image_tag language.image.url(:medium), class:"col-md-2"%><%= link_to language.name, language_path(language), class:"col-md-10" %></li>
    <% end %>
  </ul>
