body{

}
.navbar{
  background-color: ;
  height: 100px !important;
}
.head-title{
  margin-top: 5%;
}
.icon{
  font-size: 40px;
  color: ;
}
.gstyle{
  font-family: 'Audiowide', cursive;
}
.gstyle1{
  font-family: 'Jura', sans-serif;
}
.gstyle2{
  font-family: 'Marcellus SC', serif;
}
.gstyle31{
  font-family: 'Cinzel Decorative', cursive;
  width: 70%;
  height: 150px;
  margin-left: 12%;
  font-size: 30px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #4169e1;
  text-decoration: none;
}
.form-new-lang{
  margin-left: 37%;
}
.button-index{
  color: #337AB7;
}
.log{
  color: #fff !important;
}
.comment-name{
  color: grey;
}
.head-image{
  height: 200px;
}
